<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Genomics</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
  <script src="js/pixi.min.js"></script>
  <script src="js/tween.js"></script>
  
  <div class="tile is-ancestor">
    <div class="tile is-12 is-horizontal is-parent">
      <div class="tile is-child box has-text-centered">
        <p class="title">Drop File Here</p>
        <div id="dropbox"></div>
      </div>
      <div class="tile is-child box has-text-centered">
        <p class="title">File Contents</p>
        <div id="filecontents"></div>
      </div>
    </div>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-parent is-12 is-horizontal">
      <div class="tile is-child box">
        <p class="title">View</p>
        <div id="view"></div>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>

</html>
